<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/page3.css">
    <title>Document</title>
</head>
<body>
    <div class="page2">
        
    <div class="ANZ-Account">
    <div>
    <div class="ANZ">
    ANZ ACCESS ADVANTAGE STATEMENT
    </div>

    <div class="Account">
   Account Number <%= accountNumber %>
    </div>
    </div>
    </div>
  

<div class="product">
           <div class="row">
<div class="Date">Date</div>


<div class="Transaction-Details">
<div class="heading"></div>
<div>Transaction-Details</div>

</div>
<div class="Withdrawals">Withdrawals($)</div>
<div class="Deposits">Deposits($)</div>
<div class="Balance">Balance($)</div>

</div>
<hr>

        </div>
<% list2.forEach(function(product, index) { %>
    <% if (index < list2.length - 3) { %>
        <div class="product">
            <div class="row">
                <div class="Date"><%= product.Date %></div>

                <div class="Transaction-Details">
                    <div class="heading"><%= product.heading %></div>
                    <div><%= product.value %></div>
                </div>

                <div class="Withdrawals"><%= product.Withdrawals %></div>
                <div class="Deposits"><%= product.Deposite %></div>
                <div class="Balance"><%= product.Balance %></div>
            </div>
            <hr>
        </div>
    <% } else if ((index === list2.length - 1) ) { %>
        
        <div class="Statement">
         This Statement includes   
        </div>
        <div class="product">
            <hr>
            <div class="row">

                <div class="Date"><%= product.Date %></div>

                <div class="Transaction-Details">
                    <div class="heading"><%= product.heading %></div>
                    <div><%= product.value %></div>
                </div>

                <div class="Withdrawals"><%= product.Withdrawals %></div>
                <div class="Deposits"><%= product.Deposite %></div>
                <div class="Balance"><%= product.Balance %></div>
            </div>
            <hr >
        </div>
    <% } else { %>
        <div class="product">
            <div class="row">
                <div class="Date bolder"><%= product.Date %></div>

                <div class="Transaction-Details bolder">
                    <div class="heading bolder"><%= product.heading %></div>
                    <div><%= product.value %></div>
                </div>

                <div class="Withdrawals bolder"><%= product.Withdrawals %></div>
                <div class="Deposits bolder"><%= product.Deposite %></div>
                <div class="Balance bolder"><%= product.Balance %></div>
            </div>
            <% if ( index === list2.length - 2) { %>
                <hr class="under-line-total">
            <% } %>
             <% if (index === list2.length - 3 ) { %>
                <hr>
            <% } %>
        </div>
    <% } %>
<% }); %>



    
  <div class="Page3of5">
  page 3 of 5
  </div>
    <!-- const list = [
  {
    Date: "Date",
    heading: "Transaction Details",
    value: "WithDrawal($)",
    Deposite: "Deposite($)",
    Balance: "Balance($)"
  },{
     Date: "Date",
    Transaction: "Transaction",
    Withdrawals: "WithDrawal",
    Deposite: "Deposite",
    Balance: "Balance"
  }
]; -->


</div>
<div class="rapper-XPRCAP0021"><div class="XPRCAP0021" >XPRCAP0021-18032111214</div></div>

<div class="next-prev">
    <div>
<a href=<%= previous %> < prev</a>
</div>
 <div>
<a href= <%= next %> >Next ></a>
</div>
</div>

</body>
</html>